.Button {
  padding: 0.3em 1em;
  border: 5px solid white;
  background-color: #5e007d;
  border-radius: 5px;
  color: white;
  font-size: 1.5em;
}

button:hover.Button,
button:active.Button {
  background-color: white;
  color: black;
  font-weight: bold;
  border-color: black;
}
