.Menubar {
  background-color: #004466;
  overflow: hidden;
  color: white;
  display: grid;
  width: 100%;
}

.Menubar div div,
.Menubar > div {
  text-align: center;
}

.Menubar div {
  margin: 0.5em;
}

.Options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Title h1 {
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  .Buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
